.restaurantsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 900px;
    margin: 0 auto;
    font-family: 'Cormorant Garamond';
    font-weight: 800;
    font-size: large;
}

.noResults {
    font-weight: 700;
    width: 200px;
    margin: 0 auto;
    display: block ;
    /* padding: 200px 0; */
}